<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClubDeportivo">
        <activity
            android:name=".activities.RegistrarUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ListaMorososActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PagarCuotaDiariaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PagarCuotaMensualActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PagarCuotaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegistroNoSociosActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CarnetDigitalActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegistroSociosActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MenuPrincipalActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>